<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Explore Canada</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="container text-info text-center" th:if="${errorMessage}">
        <h4>Messages</h4>
        <br/>
        <div th:each="msg : ${errorMessage}">
            <div th:if="${level == 'ERROR'}">
                <span class="text-center text-danger" th:text="${msg}"></span>
            </div>
            <div th:if="${level == 'INFO'}">
                <span class="text-center text-success" th:text="${msg}"></span>
            </div>
        </div>
        <br/>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/onetimepassword}" method="post">
                <fieldset>
                    <h1>Please enter one-time password sent at <label th:text="${userEmail}"/></h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid one time password.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Enter one time password : </label>
                        <input type="password" name="secret" id="secret" class="form-control input-lg"
                               placeholder="Password" required="true"/>
                    </div>
                    <div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
