<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Explore Canada - Signup page</title>
	<div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Welcome to explore canada, please enter your information:</h1>
<br/>
<!--/*@thymesVar id="errorMessage" type=""*/-->
<div th:if="${errorMessage}">
	<h4>Failures</h4>
	<br/>
	<table>
		<tr th:each="msg : ${errorMessage}">
			<td>
				<span th:text="${msg}"></span>
			</td>
		</tr>
	</table>
	<br/>
</div>
<form th:action="@{/signup}" method="post">
	<div><label>First Name : <input type="text" name="firstName"/> </label></div>
	<div><label>Last Name : <input type="text" name="lastName"/> </label></div>
	<div><label>Email : <input type="text" name="email"/> </label></div>
	<div><label>Password: <input type="password" name="password"/> </label></div>
	<div><label>Password (Confirmation): <input type="password" name="passwordConfirmation"/> </label></div>
	<div><label>Date of Birth : <input type="text" name="dateOfBirth"/> </label></div>
	<div><input type="submit" value="Create Account"/></div>
</form>
<br/>
<a th:href="@{/login}">Are you an existing user? Click here to log in!</a>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>