<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="starter-template">
            <h1>User page (Explore Canada)</h1>
            <div th:if="${userInfo}">
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                <div sec:authorize="isAuthenticated()">
                    <h4 th:text="${userInfo.userFirstName}"> </h4> <h4 th:text="${userInfo.userLastName}"/>
                </div>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div class="row" style="margin-top:20px" th:replace="fragments/footer :: footer"/>

</body>
</html>
